.btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  gap: .5rem;

  .spinner {
    margin: 0 auto;
  }

  .quiz-header {
    display: flex;
    justify-content: center;
  }

  .quiz-list {
    height: 70%;
  }
}

