.content{
  display: flex;
  justify-content: center;
}
.quiz {
  padding: .5rem;
  width: 50%;

  &-header {
    @extend %space-between
  }

  &-header h3{
    font-size: 20px;
    font-weight: bold;
  }

  &-actions {
    @extend %space-between
  }

  &-question {
    margin-bottom: .5rem;
  }
}

%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px)  {
  .quiz {
    width: 100%;
} }
